%h1#logo
  %a{:href => "/"} posterit
#main
  %form{:action => "/", :method => "POST", :id => "post-form"}
    %label{:for => "title"} Title
    %br
    %input{:type => "text", :value => @params[:title], :id => "post-title", :name => "title"}
    %br
    %label{:for => "body"} Body
    %br
    - if @params[:body] 
      - body = @params[:body]
    - elsif @params[:title] and @params[:shorturl] and @params[:source]
      - body = "<p>Source: #{@params[:source]}: <a href='#{@params[:shorturl]}'>#{@params[:shorturl]}</a></p><div class='posterous_quote_citation'>posted from <a href='http://www.google.com/reader/view/'>Google Reader</a></div>"
    - elsif @params[:title] and @params[:url] and @params[:source]
      - body = "<p>Source: #{@params[:source]}: <a href='#{@params[:url]}'>#{@params[:url]}</a></p><div class='posterous_quote_citation'>posted from <a href='http://www.google.com/reader/view/'>Google Reader</a></div>"
    - elsif @params[:title] and @params[:url]
      - body = "<p><a href='#{@params[:url]}'>#{@params[:url]}</a></p><div class='posterous_quote_citation'>posted from <a href='http://www.google.com/reader/view/'>Google Reader</a></div>"
    - else
      - body = ""
    %textarea{:id => "post-body", :name => "body"}= body
    %br
    %input{:type => "checkbox", :value => 0, :checked => false, :name => "autopost"}
    %label{:for => "autopost"} Autopost everywhere
    %br
    %br
    #auth
      %label{:for => "email"} Email
      %br
      %input{:type => "text", :value => @email, :id => "posterous-email", :name => "email", :class => "text"}
      %label{:for => "title"} Password
      %br
      %input{:type => "password", :value => @password, :id => "posterous-password", :name => "password", :class => "text"}
      %br
      %small Posterit DOES NOT store your email and password. Use your browser's "save password" functionality if you want your email and password remembered. 
    %br
    %input{:type => "submit", :value => "Post", :id => "post-button"}
#footer
  This service is provided for free and without support by 
  %a{:href => "http://twitter.com/rmanalan", :target => "_blank"} @rmanalan
  \. The source code is available at
  %a{:href => "http://github.com/manalang/posterit", :target => ""} GitHub
  \. I built this so that I can post items from Google Reader to Posterous.
  If you want to do that too, go
  %a{:href => "http://manalang.com/how-to-post-to-posterous-from-google-reader"} here
  to find out how.
